.input_text:hover{
    box-shadow: 0px 0px 15px rgb(255, 174, 0);
    transition: ease 0.5s;
}
.home-categories::-webkit-scrollbar{
    width: 10px;

}
.home-categories::-webkit-scrollbar-thumb {
    background-color: rgb(245, 158, 18);
    border-radius: 5px;
}

.swiper-container{
    width: 400px;
    height: auto;
}
.nextt{
    position: relative;
    bottom: 215px;
    left: 360px;
    z-index: 50;
}
.prevv{
    position: relative;
    bottom: 265px;
    right: 3px;
    z-index: 50;
}
